* {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #FF914D;
}

.hero-content {
    width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    margin-left: 100px;
}

.slogan {
    display: flex;
    flex-direction: column;
}

.slogan h1, h4 {
    color: #ffffff;
}

.formulario {
    width: 30rem;
    height: 15rem;
    background-color: #ffffff ;
    gap: 20px;
    padding: 30px;
    border-radius: 10px;
}

.formulario form {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.formulario form h3 {
    color: #FF914D;
}

.formulario form div input {
    width: 100%;
    padding-left: 5px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #FF914D;   
}

.formulario form div input:focus {
    outline: 0;
}

.formulario form button {
    padding: 20px;
    background-color: #FF914D;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: #ffffff;

}

.formulario form button:hover {
    background-color: #FFBD59;
}




@media (max-width:425px) {

    .hero {
        /* width: 100%; */
        height: 700px;
        display: flex;
        /* justify-content: center; */
        align-items: flex-start;
       

        background-image: url(../images/hero-bg-cel.jpg);
        background-position: top;
        background-color: #FF914D;
    }
    .hero-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
     

        width: 90%;
        margin: 0;
    }

    .formulario {
        margin: 0;
        width: 85%;
    }
}